@import './variables.scss';

%blue {
  color: blue;
}
.myClass {
  @extend %blue;
}
.myOtherClass {
  color: $alert_red;
}
.my-dashed-class {
  color: green;
}
%containerBack {
  background-color: $olive;
}
%center {
    align-items: center;
    justify-content: center;
}
.container {
    flex-grow: 1;
    padding-top: 10;
    @extend %center;
    @extend %containerBack;    
  }