$primary_blue: rgb(128, 184, 236);
$primary_orange: rgb(249, 181, 133);
$primary_purple: rgb(187, 188, 238);
$primary_grey: rgb(176, 179, 180);

$smoke_white: rgb(244, 244, 244);
$warm_grey: rgb(216, 212, 205);
$light_grey: rgb(156, 159, 163);
$dark_grey: rgb(125, 130, 102);

$alert_red: rgb(251, 111, 88);
$light_blue: rgb(138, 179, 203);
$mid_blue: rgb(89, 149, 185);
$olive: rgb(201, 186, 100);

$white: #FFFFFF;
$transparent: transparent